/* stylelint-disable property-no-unknown */
@import "color.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: GeistMono Nerd Font, FreeSerif, JetBrainsMono Nerd Font,
    sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: rgba(124, 125, 128, 0);
  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  /* Prevents flickering when using `opacity` */
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
  background-color: #a37800;
}

#workspaces {
  background-color: #3b3b3b;
  border-radius: 10px;
  padding: 0 5px;
}

#workspaces button {
  margin: 5px;
  padding: 0 5px;
  border-radius: 100%;
  background-color: rgba(119, 119, 119, 0.5);
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  background-color: #b2bfc9;
  padding: 0 10px;
  border-radius: 25%;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 10px;
  color: #ffffff;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  /* stylelint-disable-next-line property-no-unknown */
  background-color: @primary;
  /* stylelint-disable-next-line property-no-unknown */
  color: @foreground;
}

#battery {
  background-color: @primary;
  color: @foreground;
}

#battery.charging,
#battery.plugged {
  color: @foreground;
  background-color: @success;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: @danger;
  color: @foreground;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  background-color: @danger;
  color: @foreground;
}

#power-profiles-daemon.balanced {
  background-color: @primary;
  color: @foreground;
}

#power-profiles-daemon.power-saver {
  background-color: @success;
  color: @foreground;
}

label:focus {
  background-color: #000000;
}

widget {
  border-radius: 0;
  margin: 0 4px;
}

#cpu {
  background-color: @primary;
  color: @foreground;
}

#memory {
  background-color: @primary;
  color: @foreground;
}

#disk {
  background-color: @primary;
  color: @foreground;
}

#backlight {
  background-color: @primary;
  color: @foreground;
}

#network {
  background-color: @primary;
  color: @foreground;
}

#network.disconnected {
  background-color: @danger;
}

#pulseaudio {
  background-color: @primary;
  color: @foreground;
}

#pulseaudio.muted {
  background-color: @muted;
  color: #2a5c45;
}

#wireplumber {
  background-color: #fff0f5;
  color: #000000;
}

#wireplumber.muted {
  background-color: #f53c3c;
}

#custom-media {
  background-color: @primary;
  color: @foreground;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: @primary;
}

#custom-media.custom-vlc {
  background-color: @primary;
}

#temperature {
  background-color: @primary;
  color: @foreground;
}

#temperature.critical {
  background-color: @danger;
}

#tray {
  background-color: @primary;
  color: @foreground;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @danger;
}

#idle_inhibitor {
  background-color: @primary;
  color: @foreground;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: white;
}

#privacy-item.screenshare {
  background-color: #cf5700;
}

#privacy-item.audio-in {
  background-color: #1ca000;
}

#privacy-item.audio-out {
  background-color: #0069d4;
}
